{
    "log_file" : "stderr",
    "log_level" : "debug",
    "pid_file" : "/tmp/go-guerrilla.pid",
    "allowed_hosts": ["guerrillamail.com","guerrillamailblock.com","sharklasers.com","guerrillamail.net","guerrillamail.org"],
    "backend_name" : "guerrilla-db-redis",
    "backend_config" :
        {
            "save_processors": "HeadersParser|Debugger|Hasher|Header|MailDir",
            "validate_processors" : "MailDir",
            "maildir_user_map" : "test=1002:2003,guerrilla=1001:1001,flashmob=1000:1000",
            "maildir_path" : "/home/[user]/Maildir",
            "save_workers_size" : 1,
            "primary_mail_host":"sharklasers.com",
            "log_received_mails" : false
        },
    "servers" : [
        {
            "is_enabled" : true,
            "host_name":"mail.test.com",
            "max_size": 1000000,
            "private_key_file":"/path/to/pem/file/test.com.key",
            "public_key_file":"/path/to/pem/file/test.com.crt",
            "timeout":180,
            "listen_interface":"127.0.0.1:25",
            "start_tls_on":true,
            "tls_always_on":false,
            "max_clients": 1000,
            "log_file" : "stderr"
        },
        {
            "is_enabled" : true,
            "host_name":"mail.test.com",
            "max_size":1000000,
            "private_key_file":"/path/to/pem/file/test.com.key",
            "public_key_file":"/path/to/pem/file/test.com.crt",
            "timeout":180,
            "listen_interface":"127.0.0.1:465",
            "start_tls_on":false,
            "tls_always_on":true,
            "max_clients":500,
            "log_file" : "stderr"
        }
    ]
}
